<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.mule.ide.config.axis.editor.services.providers.AxisViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Axis"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.mule.ide.config.axis.editor.services.providers.AxisEditPartProvider">
         <Priority name="Medium"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.mule.ide.config.axis.editor.services.providers.AxisModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.mule.ide.config.axis.editor.services.providers.AxisIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.mule.ide.config.axis.editor.services.providers.AxisParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/axis/2.0">
         <metamodelType
               id="org.mule.ide.config.axis.editor.InboundEndpointType_2002"
               name="%metatype.name.InboundEndpointType_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InboundEndpointType"
               edithelper="org.mule.ide.config.axis.editor.services.edit.helpers.InboundEndpointTypeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/axis/2.0">
         <metamodelType
               id="org.mule.ide.config.axis.editor.OutboundEndpointType_2004"
               name="%metatype.name.OutboundEndpointType_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutboundEndpointType"
               edithelper="org.mule.ide.config.axis.editor.services.edit.helpers.OutboundEndpointTypeEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="AxisClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.mule.ide.config.axis.editor.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="AxisClientContext">
         <elementType ref="org.mule.ide.config.axis.editor.InboundEndpointType_2002"/>
         <elementType ref="org.mule.ide.config.axis.editor.OutboundEndpointType_2004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.mule.ide.config.axis.editor.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.mule.ide.config.axis.editor.services.navigator.AxisNavigatorContentProvider" 
            labelProvider="org.mule.ide.config.axis.editor.services.navigator.AxisNavigatorLabelProvider"
            icon="icons/obj16/CoreDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="axis_diagram"/>
               </and>
               <instanceof value="org.mule.ide.config.axis.editor.services.navigator.AxisAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.mule.ide.config.axis.editor.services.navigator.AxisAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.mule.ide.config.axis.editor.navigatorSorter" 
               class="org.mule.ide.config.axis.editor.services.navigator.AxisNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="axis_diagram"/>
                  </and>
                  <instanceof value="org.mule.ide.config.axis.editor.services.navigator.AxisAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.mule.ide.config.axis.editor.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.mule.ide.config.axis.editor.services.navigator.AxisDomainNavigatorContentProvider" 
            labelProvider="org.mule.ide.config.axis.editor.services.navigator.AxisDomainNavigatorLabelProvider"
            icon="icons/obj16/CoreDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="axis"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="org.mule.ide.config.axis.editor.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="org.mule.ide.config.axis.editor.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.mule.ide.config.axis.editor.navigatorActionProvider"
            class="org.mule.ide.config.axis.editor.services.navigator.AxisNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.mule.ide.config.axis.editor.services.navigator.AxisAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.mule.ide.config.axis.editor.navigatorLinkHelper"
            class="org.mule.ide.config.axis.editor.services.navigator.AxisNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.mule.ide.config.axis.editor.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.mule.ide.config.axis.editor.services.navigator.AxisAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.mule.ide.config.axis.editor.services.part.AxisPaletteFactory$PaletteProvider">
         <Priority
               name="Medium">
         </Priority>
         <editor
               id="org.mule.ide.config.editor.services.part.CoreDiagramEditorID"></editor>
      </paletteProvider>
   </extension>
	
	<extension
	      point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	   <editpolicyProvider
	         class="org.mule.ide.config.axis.editor.services.providers.AxisEditPolicyProvider">
	      <Priority
	            name="Lowest">
	      </Priority>
	   </editpolicyProvider>
	</extension>

</plugin>
