<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="services_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="services_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.mule.ide.config.editor.services.part.CoreDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/CoreDiagramFile.gif"
         extensions="services_diagram"
         default="true"
         class="org.mule.ide.config.editor.services.part.CoreDiagramEditor"
         matchingStrategy="org.mule.ide.config.editor.services.part.CoreMatchingStrategy"
         contributorClass="org.mule.ide.config.editor.services.part.CoreDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.mule.ide.config.editor.services.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/CoreDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.mule.ide.config.editor.services.part.CoreCreationWizard"
  	     id="org.mule.ide.config.editor.services.part.CoreCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.mule.ide.config.editor.services.LoadResource"
            objectClass="org.mule.ide.config.editor.services.edit.parts.DefaultModelTypeEditPart">
         <action
               class="org.mule.ide.config.editor.services.part.CoreLoadResourceAction"
               enablesFor="1"
               id="org.mule.ide.config.editor.services.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.mule.ide.config.editor.services.InitDiagram"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.mule.ide.config.editor.services.part.CoreInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.mule.ide.config.editor.services.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="CorePresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.mule.ide.config.editor.services.part.CoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="CorePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.mule.ide.config.editor.services.part.CoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="CoreRender">
         <Priority name="Lowest"/>
         <ViewId id="org.mule.ide.config.editor.services.part.CoreDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.mule.ide.config.editor.services.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.mule.ide.config.core.diagram.general"
            name="%preference.page.title.org.mule.ide.config.core.diagram.general"
            class="org.mule.ide.config.editor.services.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.mule.ide.config.core.diagram.appearance"
            name="%preference.page.title.org.mule.ide.config.core.diagram.appearance"
            category="org.mule.ide.config.core.diagram.general"
            class="org.mule.ide.config.editor.services.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.mule.ide.config.core.diagram.connections"
            name="%preference.page.title.org.mule.ide.config.core.diagram.connections"
            category="org.mule.ide.config.core.diagram.general"
            class="org.mule.ide.config.editor.services.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.mule.ide.config.core.diagram.printing"
            name="%preference.page.title.org.mule.ide.config.core.diagram.printing"
            category="org.mule.ide.config.core.diagram.general"
            class="org.mule.ide.config.editor.services.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.mule.ide.config.core.diagram.rulersAndGrid"
            name="%preference.page.title.org.mule.ide.config.core.diagram.rulersAndGrid"
            category="org.mule.ide.config.core.diagram.general"
            class="org.mule.ide.config.editor.services.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="org.mule.ide.config.core.diagram.pathmaps"
            name="%preference.page.title.org.mule.ide.config.core.diagram.pathmaps"
            category="org.mule.ide.config.core.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.mule.ide.config.editor.services"
            labelProvider="org.mule.ide.config.editor.services.sheet.CoreSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.mule.ide.config.editor.services">
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.mule.ide.config.editor.services">
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.mule.ide.config.editor.services.sheet.CorePropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.mule.ide.config.editor.services.providers.CoreViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Core"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.mule.ide.config.editor.services.providers.CoreEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.mule.ide.config.editor.services.providers.CoreModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.mule.ide.config.editor.services.providers.CoreIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.mule.ide.config.editor.services.providers.CoreParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.DefaultModelType_79"
               name="%metatype.name.DefaultModelType_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DefaultModelType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.DefaultModelTypeEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.SedaServiceType_1001"
               name="%metatype.name.SedaServiceType_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SedaServiceType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.SedaServiceTypeEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.PojoComponentType_2001"
               name="%metatype.name.PojoComponentType_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PojoComponentType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.PojoComponentTypeEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2002"
               name="%metatype.name.DefaultComponentType_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DefaultComponentType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.DefaultComponentTypeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2003"
               name="%metatype.name.DefaultComponentType_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
            <param name="semanticHint" value="2003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2004"
               name="%metatype.name.DefaultComponentType_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
            <param name="semanticHint" value="2004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2005"
               name="%metatype.name.DefaultComponentType_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
            <param name="semanticHint" value="2005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2006"
               name="%metatype.name.DefaultComponentType_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
            <param name="semanticHint" value="2006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.DefaultComponentType_2007"
               name="%metatype.name.DefaultComponentType_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
            <param name="semanticHint" value="2007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.ExceptionStrategyType_2008"
               name="%metatype.name.ExceptionStrategyType_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ExceptionStrategyType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.ExceptionStrategyTypeEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.OutboundEndpointType_2009"
               name="%metatype.name.OutboundEndpointType_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutboundEndpointType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.OutboundEndpointTypeEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.ExceptionStrategyType_2010"
               name="%metatype.name.ExceptionStrategyType_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.ExceptionStrategyType_2008"/>
            <param name="semanticHint" value="2010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.CustomExceptionStrategyType_2011"
               name="%metatype.name.CustomExceptionStrategyType_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CustomExceptionStrategyType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.CustomExceptionStrategyTypeEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.InboundCollectionType_2012"
               name="%metatype.name.InboundCollectionType_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InboundCollectionType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.InboundCollectionTypeEditHelper">
            <param name="semanticHint" value="2012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.InboundEndpointType_2013"
               name="%metatype.name.InboundEndpointType_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InboundEndpointType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.InboundEndpointTypeEditHelper">
            <param name="semanticHint" value="2013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.ForwardingRouterType_2014"
               name="%metatype.name.ForwardingRouterType_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ForwardingRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.ForwardingRouterTypeEditHelper">
            <param name="semanticHint" value="2014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.FilteredInboundRouterType_2015"
               name="%metatype.name.FilteredInboundRouterType_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FilteredInboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.FilteredInboundRouterTypeEditHelper">
            <param name="semanticHint" value="2015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.FilteredInboundRouterType_2016"
               name="%metatype.name.FilteredInboundRouterType_2016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.FilteredInboundRouterType_2015"/>
            <param name="semanticHint" value="2016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.IdempotentReceiverRouterType_2017"
               name="%metatype.name.IdempotentReceiverRouterType_2017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="IdempotentReceiverRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.IdempotentReceiverRouterTypeEditHelper">
            <param name="semanticHint" value="2017"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.WireTapRouterType_2018"
               name="%metatype.name.WireTapRouterType_2018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WireTapRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.WireTapRouterTypeEditHelper">
            <param name="semanticHint" value="2018"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.SelectiveConsumerRouterType_2019"
               name="%metatype.name.SelectiveConsumerRouterType_2019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SelectiveConsumerRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.SelectiveConsumerRouterTypeEditHelper">
            <param name="semanticHint" value="2019"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.MessageChunkingAggregatorRouterType_2020"
               name="%metatype.name.MessageChunkingAggregatorRouterType_2020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MessageChunkingAggregatorRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.ChunkingInboundRouterTypeEditHelper">
            <param name="semanticHint" value="2020"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.SelectiveConsumerRouterType_2021"
               name="%metatype.name.SelectiveConsumerRouterType_2021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.SelectiveConsumerRouterType_2019"/>
            <param name="semanticHint" value="2021"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.CustomCorrelationAggregatorRouterType_2022"
               name="%metatype.name.CustomCorrelationAggregatorRouterType_2022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CustomCorrelationAggregatorRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.CustomCorrelationAggregatorRouterTypeEditHelper">
            <param name="semanticHint" value="2022"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.CustomInboundRouterType_2023"
               name="%metatype.name.CustomInboundRouterType_2023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CustomInboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.CustomInboundRouterTypeEditHelper">
            <param name="semanticHint" value="2023"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.AsyncReplyCollectionType_2024"
               name="%metatype.name.AsyncReplyCollectionType_2024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AsyncReplyCollectionType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.AsyncReplyCollectionTypeEditHelper">
            <param name="semanticHint" value="2024"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.InboundEndpointType_2025"
               name="%metatype.name.InboundEndpointType_2025"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.InboundEndpointType_2013"/>
            <param name="semanticHint" value="2025"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.AsyncReplyRouterType_2026"
               name="%metatype.name.AsyncReplyRouterType_2026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AsyncReplyRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.AsyncReplyRouterTypeEditHelper">
            <param name="semanticHint" value="2026"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.CustomAsyncReplyRouterType_2027"
               name="%metatype.name.CustomAsyncReplyRouterType_2027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CustomAsyncReplyRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.CustomAsyncReplyRouterTypeEditHelper">
            <param name="semanticHint" value="2027"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.OutboundCollectionType_2028"
               name="%metatype.name.OutboundCollectionType_2028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutboundCollectionType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.OutboundCollectionTypeEditHelper">
            <param name="semanticHint" value="2028"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.OutboundRouterType_2029"
               name="%metatype.name.OutboundRouterType_2029"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.OutboundRouterTypeEditHelper">
            <param name="semanticHint" value="2029"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.OutboundEndpointType_2030"
               name="%metatype.name.OutboundEndpointType_2030"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.OutboundEndpointType_2009"/>
            <param name="semanticHint" value="2030"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"
               name="%metatype.name.FilteringOutboundRouterType_2031"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FilteringOutboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.FilteringOutboundRouterTypeEditHelper">
            <param name="semanticHint" value="2031"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2032"
               name="%metatype.name.FilteringOutboundRouterType_2032"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"/>
            <param name="semanticHint" value="2032"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2033"
               name="%metatype.name.FilteringOutboundRouterType_2033"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"/>
            <param name="semanticHint" value="2033"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2034"
               name="%metatype.name.FilteringOutboundRouterType_2034"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"/>
            <param name="semanticHint" value="2034"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <specializationType
               id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2035"
               name="%metatype.name.FilteringOutboundRouterType_2035"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"/>
            <param name="semanticHint" value="2035"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.EndpointSelectorRouterType_2036"
               name="%metatype.name.EndpointSelectorRouterType_2036"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndpointSelectorRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.EndpointSelectorRouterTypeEditHelper">
            <param name="semanticHint" value="2036"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.MessageSplitterOutboundRouterType_2037"
               name="%metatype.name.MessageSplitterOutboundRouterType_2037"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MessageSplitterOutboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.MessageSplitterOutboundRouterTypeEditHelper">
            <param name="semanticHint" value="2037"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.ChunkingRouterType_2038"
               name="%metatype.name.ChunkingRouterType_2038"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ChunkingRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.ChunkingRouterTypeEditHelper">
            <param name="semanticHint" value="2038"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.StaticRecipientListRouterType_2039"
               name="%metatype.name.StaticRecipientListRouterType_2039"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StaticRecipientListRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.StaticRecipientListRouterTypeEditHelper">
            <param name="semanticHint" value="2039"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.mulesource.org/schema/mule/core/2.0">
         <metamodelType
               id="org.mule.ide.config.editor.services.CustomOutboundRouterType_2040"
               name="%metatype.name.CustomOutboundRouterType_2040"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CustomOutboundRouterType"
               edithelper="org.mule.ide.config.editor.services.edit.helpers.CustomOutboundRouterTypeEditHelper">
            <param name="semanticHint" value="2040"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="CoreClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.mule.ide.config.editor.services.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="CoreClientContext">
         <elementType ref="org.mule.ide.config.editor.services.DefaultModelType_79"/>
         <elementType ref="org.mule.ide.config.editor.services.SedaServiceType_1001"/>
         <elementType ref="org.mule.ide.config.editor.services.PojoComponentType_2001"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2002"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2003"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2004"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2005"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2006"/>
         <elementType ref="org.mule.ide.config.editor.services.DefaultComponentType_2007"/>
         <elementType ref="org.mule.ide.config.editor.services.ExceptionStrategyType_2008"/>
         <elementType ref="org.mule.ide.config.editor.services.OutboundEndpointType_2009"/>
         <elementType ref="org.mule.ide.config.editor.services.ExceptionStrategyType_2010"/>
         <elementType ref="org.mule.ide.config.editor.services.CustomExceptionStrategyType_2011"/>
         <elementType ref="org.mule.ide.config.editor.services.InboundCollectionType_2012"/>
         <elementType ref="org.mule.ide.config.editor.services.InboundEndpointType_2013"/>
         <elementType ref="org.mule.ide.config.editor.services.ForwardingRouterType_2014"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteredInboundRouterType_2015"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteredInboundRouterType_2016"/>
         <elementType ref="org.mule.ide.config.editor.services.IdempotentReceiverRouterType_2017"/>
         <elementType ref="org.mule.ide.config.editor.services.WireTapRouterType_2018"/>
         <elementType ref="org.mule.ide.config.editor.services.SelectiveConsumerRouterType_2019"/>
         <elementType ref="org.mule.ide.config.editor.services.MessageChunkingAggregatorRouterType_2020"/>
         <elementType ref="org.mule.ide.config.editor.services.SelectiveConsumerRouterType_2021"/>
         <elementType ref="org.mule.ide.config.editor.services.CustomCorrelationAggregatorRouterType_2022"/>
         <elementType ref="org.mule.ide.config.editor.services.CustomInboundRouterType_2023"/>
         <elementType ref="org.mule.ide.config.editor.services.AsyncReplyCollectionType_2024"/>
         <elementType ref="org.mule.ide.config.editor.services.InboundEndpointType_2025"/>
         <elementType ref="org.mule.ide.config.editor.services.AsyncReplyRouterType_2026"/>
         <elementType ref="org.mule.ide.config.editor.services.CustomAsyncReplyRouterType_2027"/>
         <elementType ref="org.mule.ide.config.editor.services.OutboundCollectionType_2028"/>
         <elementType ref="org.mule.ide.config.editor.services.OutboundRouterType_2029"/>
         <elementType ref="org.mule.ide.config.editor.services.OutboundEndpointType_2030"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2031"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2032"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2033"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2034"/>
         <elementType ref="org.mule.ide.config.editor.services.FilteringOutboundRouterType_2035"/>
         <elementType ref="org.mule.ide.config.editor.services.EndpointSelectorRouterType_2036"/>
         <elementType ref="org.mule.ide.config.editor.services.MessageSplitterOutboundRouterType_2037"/>
         <elementType ref="org.mule.ide.config.editor.services.ChunkingRouterType_2038"/>
         <elementType ref="org.mule.ide.config.editor.services.StaticRecipientListRouterType_2039"/>
         <elementType ref="org.mule.ide.config.editor.services.CustomOutboundRouterType_2040"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   

	   

	   

   
   
	   
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.mule.ide.config.editor.services.part.CoreDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.mule.ide.config.editor.services.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.mule.ide.config.editor.services.updateDiagram"
         contextId="org.mule.ide.config.editor.services.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension><extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.mule.ide.config.editor.services.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.mule.ide.config.editor.services"
           properties="isURIEditorInput"
           class="org.mule.ide.config.editor.services.part.CoreUriEditorInputTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.mule.ide.config.editor.services.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="org.mule.ide.config.editor.services"
           properties="isDomainModelElement"
           class="org.mule.ide.config.editor.services.part.CoreDomainModelElementTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.mule.ide.config.editor.services.resourceContent"/>
			<contentExtension pattern="org.mule.ide.config.editor.services.domainResourceContent"/>
            <contentExtension pattern="org.mule.ide.config.editor.services.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.mule.ide.config.editor.services.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>
<extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.mule.ide.config.editor.services.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.mule.ide.config.editor.services.navigator.CoreNavigatorContentProvider" 
            labelProvider="org.mule.ide.config.editor.services.navigator.CoreNavigatorLabelProvider"
            icon="icons/obj16/CoreDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="services_diagram"/>
               </and>
               <instanceof value="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.mule.ide.config.editor.services.navigatorSorter" 
               class="org.mule.ide.config.editor.services.navigator.CoreNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="services_diagram"/>
                  </and>
                  <instanceof value="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.mule.ide.config.editor.services.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.mule.ide.config.editor.services.navigator.CoreDomainNavigatorContentProvider" 
            labelProvider="org.mule.ide.config.editor.services.navigator.CoreDomainNavigatorLabelProvider"
            icon="icons/obj16/CoreDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="xml"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="org.mule.ide.config.editor.services.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="org.mule.ide.config.editor.services.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.mule.ide.config.editor.services.navigatorActionProvider"
            class="org.mule.ide.config.editor.services.navigator.CoreNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
<extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.mule.ide.config.editor.services.navigatorLinkHelper"
            class="org.mule.ide.config.editor.services.navigator.CoreNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.mule.ide.config.editor.services.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.mule.ide.config.editor.services.navigator.CoreAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>

</plugin>
