<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.mule.ide.common.adapter.ResourceToIdeProject">
         <adapter
               type="org.mule.ide.common.IdeProject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.viewers.ISelection"
            class="org.mule.ide.common.adapter.SelectionToIdeProject">
         <adapter
               type="org.mule.ide.common.IdeProject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="org.mule.ide.common.adapter.JavaElementToIdeProject">
         <adapter
               type="org.mule.ide.common.IdeProject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"
            class="org.mule.ide.common.adapter.ClassPathContainerToIdeProject">
         <adapter
               type="org.mule.ide.common.IdeProject">
         </adapter>
      </factory>
   </extension>
</plugin>
