<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mule.ide.config.editor.editors.MuleConfigEditor"
            contributorClass="org.mule.ide.config.editor.editors.MuleConfigEditorContributor"
            default="false"
            extensions="xml"
            filenames="mule-config.xml"
            icon="icons/config-file.gif"
            id="org.mule.ide.config.editor.editors.MuleConfigEditor"
            name="Mule Configuration Editor">
         <contentTypeBinding
               contentTypeId="org.mule.ide.config.editor.MuleRootContentTypeBinding">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Mule"
            id="org.mule.ide.MuleWizards">
      </category>
      <wizard
            name="Mule Configuration File"
            icon="icons/config-file.gif"
            category="org.mule.ide.MuleWizards"
            class="org.mule.ide.config.editor.wizards.MuleConfigNewWizard"
            id="org.mule.ide.config.editor.wizards.MuleConfigNewWizard">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.mule.ide.config.editor.services">     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.mule.ide.config.editor.services.sheet.CorePropertySection">
            <input type="org.mule.ide.config.core.AbstractFilterType"/>
            <input type="org.mule.ide.config.core.AbstractGlobalEndpointType"/>
            <input type="org.mule.ide.config.core.AbstractTransformerType"/>
            <input type="org.mule.ide.config.core.AbstractConnectorType"/>
            <input type="org.mule.ide.config.spring.BeanType"/>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="org.eclipse.gmf.runtime.diagram.core.DiagramEditingDomainFactory"
            id="org.mule.ide.config.editor.services.EditingDomain">
      </editingDomain>
   </extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
	   <content-type base-type="org.eclipse.core.runtime.xml"
	                 file-extensions="xml"
	                 id="org.mule.ide.config.editor.MuleRootContentTypeBinding"
	                 name="Mule Configuration File"
	                 priority="high">
	      <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
	         <parameter name="element"
	                    value="mule">
	         </parameter>
	      </describer>
	   </content-type>
	</extension>

</plugin>
