<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mulesource.org/schema/mule/core/2.0" 
       class = "org.mule.ide.config.core.CorePackage"
       genModel = "model/core.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="core" 
       class="org.mule.ide.config.core.util.CoreResourceFactoryImpl" />
  </extension>

</plugin>
