<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="natures.MuleProjectNature"
         name="Mule project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.mule.ide.project.MuleProjectNature">
         </run>
      </runtime>
      <builder
            id="org.mule.ide.project.MuleHotDeploymentBuilder">
      </builder>
   </extension>
   <extension
         id="MuleHotDeploymentBuilder"
         name="Mule 3 hot deployment builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.mule.ide.project.MuleHotDeploymentBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.mule.ide.project.internal.runtime.MuleClasspathInitializer"
            id="org.mule.ide.project.muleClasspath">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.mule.ide.project.internal.runtime.MuleClasspathContainerPage"
            id="org.mule.ide.project.muleClasspath"
            name="%classpathContainerPage.name.0">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.mule.ide.project.MuleCategory"
            name="Mule IDE">
      </category>
      <command
            categoryId="org.mule.ide.project.MuleCategory"
            id="org.mule.ide.project.commands.ToggleMuleNature"
            name="Toggle Mule Nature">
      </command>
      <command
            categoryId="org.mule.ide.project.MuleCategory"
            id="org.mule.ide.project.commands.PackageHotDeploymentZip"
            name="Package as deployment zip">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.mule.ide.project.internal.handlers.ToggleMuleNatureHandler"
            commandId="org.mule.ide.project.commands.ToggleMuleNature">
      </handler>
      <handler
            class="org.mule.ide.project.internal.handlers.PackageHotDeploymentZipHandler"
            commandId="org.mule.ide.project.commands.PackageHotDeploymentZip">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.mule.ide.project.popup.MuleIdeMenu"
               label="Mule IDE">
<!--            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.mule.ide.project.natures.MuleProjectNature">
                  </test>
               </iterate>
            </visibleWhen>
-->
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.mule.ide.project.commands.ToggleMuleNature"
               id="org.mule.ide.project.popup.ToggleMuleNature"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.mule.ide.project.popup.MuleIdeMenu">
         <command
               commandId="org.mule.ide.project.commands.PackageHotDeploymentZip"
               id="org.mule.ide.project.popup.PackageHotDeploymentZip"
               style="push">
         </command>
      </menuContribution>

<!--
contribution is only visible on projects having the Mule nature:
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.mule.ide.project.natures.MuleProjectNature">
                  </test>
               </iterate>
            </visibleWhen>
-->
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
           canFinishEarly="false"
           category="org.mule.ide.MuleWizards"
           class="org.mule.ide.project.internal.wizards.MuleNewProjectWizard"
           hasPages="true"
           icon="icons/mule-small.gif"
           id="org.mule.ide.project.internal.wizards.MuleNewProjectWizardID"
           name="%wizard.name.0"
           project="true">
  	  	 <description>%wizard.description.0</description>  
      </wizard>
     <category
           id="org.mule.ide.MuleWizards"
           name="%category.name.0">
     </category>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.mule.ide.project.internal.preferences.MulePreferencesPage"
            id="org.mule.ide.preferences.MulePreferencePage"
            name="%page.name.0">
         
         <keywordReference id="org.mule.ide.project.keyword.mule"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.mule.ide.project.keyword.mule"
            label="%keyword.label.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/mule_overlay_9x9.png"
            id="org.mule.ide.project.natures.MuleProjectNature.image"
            natureId="org.mule.ide.project.natures.MuleProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.mule.ide.project.runtime.ui.MuleProjectPropertiesPage"
            id="org.mule.ide.project.MuleProjectProperties"
            name="Mule">
         <keywordReference
               id="org.mule.ide.project.keyword.mule">
         </keywordReference>
         <filter
               name="nature"
               value="org.mule.ide.project.natures.MuleProjectNature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
