<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="nature"
         name="Mule project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.mule.ide.project.MuleProjectNature">
         </run>
      </runtime>
      <builder
            id="org.mule.ide.project.MuleHotDeploymentBuilder">
      </builder>
   </extension>
   <extension
         id="MuleHotDeploymentBuilder"
         name="Mule 3 hot deployment builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.mule.ide.project.MuleHotDeploymentBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.mule.ide.project.command1"
            name="name">
      </command>
      <category
            id="org.mule.ide.project.MuleCategory"
            name="Mule IDE">
      </category>
      <command
            categoryId="org.mule.ide.project.MuleCategory"
            id="org.mule.ide.project.commands.ToggleMuleNature"
            name="Toggle Mule Nature">
      </command>
      <command
            categoryId="org.mule.ide.project.MuleCategory"
            id="org.mule.ide.project.commands.ToggleMuleNature"
            name="Toggle Mule nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.mule.ide.project.internal.handlers.ToggleMuleNatureHandler"
            commandId="org.mule.ide.project.commands.ToggleMuleNature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="org.mule.ide.project.popup.MuleIdeMenu"
               label="Mule IDE">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.mule.ide.project.popup.MuleIdeMenu">
         <command
               commandId="org.mule.ide.project.commands.ToggleMuleNature"
               icon="icons/mule-small.gif"
               id="org.mule.ide.project.popup.ToggleMuleNature"
               style="push">
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
           canFinishEarly="false"
           category="org.mule.ide.MuleWizards"
           class="org.mule.ide.project.internal.wizards.MuleNewProjectWizard"
           hasPages="true"
           icon="icons/mule-small.gif"
           id="org.mule.ide.project.internal.wizards.MuleNewProjectWizardID"
           name="%wizard.name.0"
           project="true">
  	  	 <description>%wizard.description.0</description>  
      </wizard>
     <category
           id="org.mule.ide.MuleWizards"
           name="%category.name.0">
     </category>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.mule.ide.project.internal.preferences.MulePreferencesPage"
            id="org.mule.ide.preferences.MulePreferencePage"
            name="%page.name.0">
         
         <keywordReference id="org.mule.ide.project.keyword.mule"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.mule.ide.project.keyword.mule"
            label="%keyword.label.0"/>
   </extension>
 
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
          <classpathContainerInitializer    
	         id="org.mule.ide.project.muleClasspath"
    		 class="org.mule.ide.project.internal.runtime.MuleClasspathInitializer" />
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.mule.ide.project.internal.runtime.MuleClasspathContainerPage"
            id="org.mule.ide.project.muleClasspath"
            name="%classpathContainerPage.name.0"/>
   </extension>
   
</plugin>
